{% extends 'base.html' %}

{% block content %}

<div id="post-block">
    <!-- Изображение поста -->
    {% if post.photo %}
    <img src="{{post.photo.url}}" alt="{{post}}">
    {% else %}
    <p align="center">{% include 'basis/inclusions/image_icon.html' %}</p>
    {% endif %}
    <!-- Текст поста с фильтром -->
    <br>{{post.post_content|linebreaks}}<br>
    <!-- Опции -->
    <p align="center"><a href="{% url 'users:edit' post.slug %}">Редактировать статью</a></p>
    <p align="center"><a href="{% url 'users:delete' post.slug %}">Удалить статью</a></p><br>
</div>

{% endblock %}
