#body-block {
height: 100%;
width: auto;
padding: 145px 100px 30px 100px;
background: rgba(9, 16, 29, 0.75);
}
div.categories {
display: inline-block;
overflow-x: hidden;
overflow-y: auto;
height: 715px;
width: 255px;
padding: 25px;
border-radius: 15px;
box-shadow: 15px 15px 15px rgba(9, 16, 29, 0.75);
background: rgba(19, 44, 67, 0.30);
color: #009be8;
font-size: 16px;
}
div.content {
display: inline-block;
overflow-x: hidden;
overflow-y: auto;
height: 715px;
width: 1285px;
padding: 50px 50px 0px 50px;
border-radius: 15px;
box-shadow: 15px 15px 15px rgba(9, 16, 29, 0.75);
background: rgba(19, 44, 67, 0.30);
}
div.navigation {
padding-top: 15px;
text-align: center;
}
