#head-block {
box-sizing: border-box;
height: 115px;
min-width: 1920px;
padding: 0px 0px 0px 100px;
background: rgba(9, 16, 29, 0.95);
}
div.icon {
display: inline-block;
height: 115px;
width: 100%:
}
div.main-menu {
display: inline-block;
padding: 45px 50px 0px 0px;
list-style: none;
font-size: 16px;
}
div.authentication {
display: inline-block;
padding: 40px 100px 0px 0px;
list-style: none;
}
#shining {
animation: animate 5s linear infinite;
text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}
@keyframes animate {
  from {filter: hue-rotate(0deg)}
  to {filter: hue-rotate(360deg);}
}
