html, body {
font-family: 'DejaVu Sans Light';
margin: 0;
padding: 0;
height: 100%;
width: 100%;
background: #080a0d;
}

h1 {
color: #D6D6D6;
}
h2 {
color: #E3E3E3;
}
p {
color: #E3E3E3;
}

a {
color: #009dff;
text-decoration: none;
}
a:hover {
color: #3e8ec2;
}

#head-block {
display: inline-block;
width: 99%;
height: 10%;
}
#categories-block {
background: #0c111d;
display: flex;
padding: 1% 1% 1% 30%;
}
#content-block {
background: #0a0e17;
padding: 1% 12% 2% 12%;
}
#post-block {
padding: 0% 6% 0% 6%;
}
#breadcrumbs-block {
padding: 1% 1% 1% 1%;
}
#shining {
animation: animate 5s linear infinite;
text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
