@import url('head.css');
@import url('body.css');
@import url('footer.css');
@import url('buttons.css');

html, body {
height: 100%;
margin: 0 auto;
font-family: 'DejaVu Sans Light', 'Tahoma';
background: #192131;
color: #D6D6D6;
}
h2 {
color: #D6D6D6;
}
a {
color: #2594ff;
text-decoration: none;
}
a:hover {
color: #1575bf;
}
a:active {
color: #115e99;
}
#post-block {
padding: 0px 15px 15px 0px;
}
div.about-block {
padding-top: 300px;
text-align: center;
}
div.about-text {
padding-top: 50px;
text-align: center;
}
