<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load basis_tags %}
<head>
    <meta charset="UTF-8">
    <!-- Импорт статики -->
    <link type="text/css" rel="stylesheet" href="{% static 'basis/css/styles.css' %}">
    <link rel="icon" href="{% static 'basis/images/rocket-takeoff.svg' %}">
    <!-- Заголовок вкладки -->
    <title>{{title}}</title>
</head>
<body>
<!-- Иконка главной страницы и авторизация -->
<div id="head-block">
    <div style="float:left" class="icon" id="shining">
        <a href="{% url 'home' %}"><h1>{% include 'basis/inclusions/main_icon.html' %}Космос</h1></a>
    </div>
    <div class="main-menu" style="float:right">
        <ul>
            <a href="{% url 'home' %}">&nbsp;Главная страница</a>
            <a href="{% url 'users:add_post' %}">&nbsp;Добавить статью</a>
            {% for m in menu %}
            <a href="{% url m.name %}">&nbsp;{{m.main_title}}</a>
            {% endfor %}
            {% if user.is_authenticated %}
            &nbsp;{{user.username}}
            <a href="{% url 'users:logout' %}">
                <button type="button" class="button-entry">Выйти</button>
            </a>
            {% else %}
            <a href="{% url 'users:login' %}">
                <button type="button" class="button-entry">Войти</button>
            </a>
            <a href="{% url 'users:register' %}">
                <button type="button" class="button-registration">Регистрация</button>
            </a>
            {% endif %}
        </ul>
    </div>
</div>
<div id="body-block">
    <div style="float:left" class="categories">
        <ul><h2>{{main_title}}</h2></ul>
        <ul><h2>{{post.post_title}}</h2></ul>
        {% get_categories category_selected %}
    </div>
    <div style="float:right" class="content">
        {% block content %}{% endblock %}
        <div class="navigation">
            {% block navigation %}{% endblock %}
        </div>
    </div>
</div>
<!-- Хлебные крошки -->
<div id="footer">
    <p>&copy 2024 Космос</p>
    <p><a href="{% url 'terms' %}">Пользовательское соглашение</a></p>
    <p><a href="{% url 'privacy' %}">Политика конфиденциальности</a></p>
</div>
</body>
</html>
